//- extends ../layouts/default
//- extends ../layouts/default_react
extends ../layouts/default_ng        

block intro
  .container: .row
    .col-sm-4.col-md-4
      h1= data.category ? data.category.name : 'Dolls'
    .col-sm-3.col-sm-offset-5.col-md-3.col-md-offset-5
      a.btn.btn-primary(href="/dolls/new") Add a doll to the database...

block content
  //- .container: .row
    //- .col-sm-4.col-sm-offset-8.col-md-4.col-md-offset-8
    //-   a.btn.btn-primary(href="/dolls/new") Add a doll to the database...
  .container(ng-app="dollhouse"): .row(ng-view="")
  //- .container(ng-app="dollhouse" ng-controller="DollsController"): .row(ng-view="")
