extends ../layouts/default

block content
  .container: .jumbotron
    .row
      .col-md-4.col-sm-4
        //- img.cover-girl(src='http://res.cloudinary.com/hal9zillion/image/upload/c_scale,w_500/v1431367090/dsclogo_g4ur1c.png', width='250')
        img.cover-girl(src='http://res.cloudinary.com/doll-social-club/image/upload/c_fit,w_250/v1432423782/dsclogo_f5m0tj.png', width='250')
      .col-md-8.col-sm-8
        h1 Welcome to The DollHouse
    .row
      .col-md-8.col-md-offset-4
        p.
          The Dollhouse is a site for people into dolls in Sydney Australia
        p.
          Take a look around...
