extends ../layouts/default

block content
  .container: .jumbotron
    .row
      .col-md-4.col-sm-4
        //- img.cover-girl(src='/images/dolls/20100212054834m.jpg', width='160')
        img.cover-girl(src='http://res.cloudinary.com/hal9zillion/image/upload/c_crop,h_550/v1429301472/doll_group_s0amuq.jpg', width='160')
      .col-md-8.col-sm-8
        h1 Welcome to The DollHouse
    .row
      .col-md-8.col-md-offset-4
        p.
          The Dollhouse is a site for people into dolls in Sydney Australia
        p.
          Take a look around...
