ul.nav.navbar-nav.navbar-right.dropdown
  if user
    a.dropdown-toggle(href="#" data-toggle="dropdown").welcome
      button.btn.btn-doll Welcome #{user.name.first}
    ul.dropdown-menu                
      if user.canAccessKeystone
        li: a(href='/keystone')
          button.btn.btn-doll.navbar-btn Open Admin
      li: a(href='/community/#/profiles/profile/' + user.slug)
        button.btn.btn-doll.navbar-btn My Profile
      li: a(href='/users/logout')
        button.btn.btn-doll.navbar-btn Sign Out
  else
    li: a(href='/users/login') 
      button.btn.btn-doll.navbar-btn Sign In
    li: a(href='/forums/register') 
      button.btn.btn-doll.navbar-btn Register
