div(role="navigation").navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='http://res.cloudinary.com/doll-social-club/image/upload/c_fit,w_250/v1432423782/dsclogo_f5m0tj.png', width='100')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        +navLinks(navLinks)
