.panel.ngList
  //- p {{ details }}
  .row(ng-repeat="detail in details")
    .col-sm-4.detail-key
      {{ detail.key }}
      //- h3 {{ detail.key }}
    .col-sm-8.detail-val
      {{ detail.val }}
      //- p.label-doll {{ detail.val }}
  
