- {{thisIsMine = user && (profile.id === user.id)}}
a(ng-href="#/profiles/profile/{{data.profile.slug}}")
  .profile(class={"my-profile": thisIsMine}) 
    //- (data-ks-editable=editable(user, { list: 'profile', id: profile.id }))
    .col-sm-3.left
      img(ng-if="data.profile.profile.avatar" src="{{data.profile.profile.avatar.url}}").profile-img
    .col-sm-9.right
      include ../../partials/_profile_header    

      //- .row.profile-header
        h2: a(ng-href="#/profiles/profile/{{profile.slug}}") {{thisIsMine ? "Me" : profile.profile.userName}}
        //- p.lead.text-muted Owned by
      .row.profile-body
        //- .read-more(ng-if="data.profile.profile.about.brief" ng-bind-html="data.profile.profile.about.brief")
        //- detail-list(details="[{key: 'name', val: 'groucho'}]")
        detail-list(details="data.profile.details")
        //- detail-list(details="{name: data.profile.name.first, location: data.profile.location.suburb}")
    
