//-  **                 **  ****         **  **  ** **
//- /**                /** */// *       //  /** /**//
//- /**       ******   /**/*   /* ****** ** /** /** **  ******  *******
//- /******  //////**  /**/ **** ////** /** /** /**/** **////**//**///**
//- /**///**  *******  /** ///*     **  /** /** /**/**/**   /** /**  /**
//- /**  /** **////**  /**   *     **   /** /** /**/**/**   /** /**  /**
//- /**  /**//******** ***  *     ******/** *** ***/**//******  ***  /**
//- //   //  //////// ///  /     ////// // /// /// //  //////  ///   //


include ../mixins/flash-messages
include ../mixins/dollHelpers
include ../vars/layout

doctype html
html

  //- HTML HEADER
  head
    include ../partials/_head

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body

    //- HEADER
    #header: .container

      //- Customise your sites navigation by changing the navLinks Array in ./routes/middleware.js
      //- ... or completely change this header to suit your design.

      include ../partials/_navbar

    //- BODY
    #body

      //- NOTE:
      //- There is no .container wrapping class around body blocks to allow more flexibility in design.
      //- Remember to include it in your templates when you override the intro and content blocks!

      //- The Intro block appears above flash messages (used for temporary information display)
      block intro

      //- Flash messages allow you to display once-off status messages to users, e.g. form
      //- validation errors, success messages, etc.
      +flash-messages(messages)

      //- The content block should contain the body of your template's content
      block content


    //- FOOTER
    .container: #footer

      //- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
      p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.


    //- JAVASCRIPT

    //- jQuery 1.11.1 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.1 (also bundled) for better performance.
    script(src='/js/lib/jquery/jquery-1.11.1.min.js')

    //- Customise which Bootstrap javascript files are served by including
    //- them specifically here, instead of bootstrap-3.2.0.min.js
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    //- Add scripts that are globally required by your site here.

    //- Include template-specific javascript files by extending the js block
    block js
