//- h1 Here is a Doll
//- .col-sm-8.col-md-9.jumbotron
.show-doll
  .row: .col-offset-8.col-sm-2  
    a(ng-href="{{previousPage}}") 
      button.btn.btn-primary Back to {{ previousPage | backName }}
  .row
    .col-sm-8.col-md-9
      - {{thisIsMine = (user && data.doll.owner.id === user.id)}}
      .doll(class={"my-doll": thisIsMine})
        //- Think this editable function is only server side
        //- (data-ks-editable=editable(user, { list: 'Doll', id: data.doll.id }))
        .doll-header
          h2 {{data.doll.name}}
          p.lead.text-muted(ng-if="data.doll.owner")    
            | Owned by
            //- TODO: Fix this - owner.profile
            a(ng-href="#/profiles/profile/{{data.doll.owner.slug}}") {{ " " + (thisIsMine ? "You" : data.doll.owner.name | fullName)}}
        .doll-body
          img(ng-if="data.doll.image" src="{{data.doll.image.url}}").img.pull-right
          //- img(src="{{data.doll.image.url}}" width="100px" height="100px").img.pull-right(ng-if="data.doll.image")
          //- p!= {{data.doll.content.brief}}
          p.description(ng-if="data.doll.info.description") {{data.doll.info.description}}
          p.biography.read-more(ng-if="data.doll.info.biography") {{data.doll.info.biography}}
