.show-doll.jumbotron
  //- TODO: Extract this
  .row: .col-sm-offset-11.col-sm-1
    a(ng-href="{{previousPage}}") 
      button.btn.btn-primary Back to {{ previousPage | backName }}
  .row
    .row
    .row.doll-details
      .row.doll-heading  
        .doll-name
          h2 {{ data.doll.name }}
        .join-date
          {{ data.doll.createdAt | date : format : "fullDate" }}
          //- p this
          //- p {{ data.doll.createdAt | date : format : "yyyy" }}
          //- p that
          //- p {{ data.doll.createdAt }}
      .row
        .col-sm-4
          img(ng-if="data.doll.image" src="{{data.doll.image.url}}").doll-img
          badge(badges="[]")
        .col-sm-8
          //- detail-list(details="[{key: 'doll1', val: 43}]")
          detail-list(details="details")
          //- - {{thisIsMine = (user && data.doll.owner.id === user.id)}}
          .bio.jumbotron(ng-if="data.doll.info && data.doll.info.biography")
            h3 bio:
            p(ng-bind-html="data.doll.info.biography")
              //- {{ data.doll.info.biography }}
          .doll(class={"my-doll": thisIsMine})
            //- Think this editable function is only server side
            //- (data-ks-editable=editable(user, { list: 'Doll', id: data.doll.id }))
        
    .row.extended-bio
    .row.associated-stuff
      .row.dolls
      .row.links
    .row.gallery
      .row
        .col-sm-2(ng-repeat="doll in data.doll.gallery")
          //- button(ng-click="open('lg', doll)")
          .doll-pic(ng-click="open('lg', doll)" ng-style="getAvatar(doll.url)")
          
            //- img(ng-if="data.doll.image" src="{{doll.image.url}}").img
      //- .row(ng-repeat="doll_threes in data.doll.gallery")
        .col-sm-3(ng-repeat="doll in doll_threes")
          //- a(ng-href="")
          button(ng-click="open('lg', doll)")
            //- img(ng-if="data.doll.image" src="{{doll.image.url}}").img
