h1 Here is a Doll
a(href="#/dolls") Back to dolls
.col-sm-8.col-md-9.jumbotron
  - {{thisIsMine = (user && data.doll.owner.id === user.id)}}
  .doll(class={"my-doll": thisIsMine})
    //- Think this editable function is only server side
    //- (data-ks-editable=editable(user, { list: 'Doll', id: data.doll.id }))
    .doll-header
      h2: a(ng-href="/dolls/doll/{{data.doll.slug}}") {{data.doll.name}}
      p.lead.text-muted(ng-if="data.doll.owner")    
        | Owned by
        a(ng-href="/users/{{data.doll.owner.id}}") {{ " " + (thisIsMine ? "You" : data.doll.owner.name | fullName)}}
    .doll-body
      img(ng-if="data.doll.image" src="{{data.doll.image.url}}").img.pull-right
      //- img(src="{{data.doll.image.url}}" width="100px" height="100px").img.pull-right(ng-if="data.doll.image")
      //- p!= {{data.doll.content.brief}}
      p {{data.doll.content.brief}}
      p.read-more(ng-if="data.doll.content.extended"): a(ng-href="/dolls/doll/{{data.doll.slug}}") Read more...
