
.col-sm-8.col-md-9.jumbotron
  h1 Here are some dolls
  .dolls.angular
    //- DOLLS ALREADY GROUPED
    .row(ng-repeat="doll_threes in data.dolls")
      .col-sm-4.col-md-4(ng-repeat="doll in doll_threes | filter:dollFilter")
        doll-mixin(doll="doll")
.col-sm-4.col-md-3.doll-filter-col
  //- TODO: need a front end test for login..
  if user
    a.btn.btn-primary(href="/dolls/new") Add a doll to the database...
  h2 Filter/Search Dolls
  ul.list-group(style='margin-top: 70px;')
    li.list-group-item
      label.label-doll Name
      input(ng-model="dollFilter.name")
    li.list-group-item
      label.label-doll Owner
      input(ng-model="dollFilter.owner.name.full")
    li.list-group-item
      label.label-doll Maker
      select(ng-model="dollFilter.maker")
        option(value="")
        option(ng-repeat="maker in makers" value ="{{maker}}" ) {{maker}}
