.col-sm-12.jumbotron
  .row.doll-filter-row
    .col-sm-6
      h1 Doll Database
    .col-sm-6.filter-col
      //- button.btn.btn-default(popover-template='dynamicPopover.templateUrl', popover-title='{{dynamicPopover.title}}') Popover With Template
      //- button.btn.btn-default(popover-trigger="mouseenter" popover-template='{{dynamicPopover.content}}', popover-title='{{dynamicPopover.title}}') Popover With Template
      .row
        button.btn.btn-weird(popover-template="dynamicPopover.templateUrl", popover-title='{{dynamicPopover.title}}') Popover With Template

      .row
        button.btn.btn-default(popover-template="widgets/filter_popup.html", popover-trigger='mouseenter') Mouseenter
      .row
        button.btn.btn-default(popover='I appeared on mouse enter!', popover-trigger='mouseenter') Mouseenter
      .row
        button.btn.btn-default(popover-trigger="mouseenter" popover-template='myPopoverTemplate.html', popover-title='{{dynamicPopover.title}}') Popover With Template
      .row
        .btn-group(dropdown='' auto-close="outsideClick")
          button.btn.btn-primary.dropdown-toggle(type='button', dropdown-toggle='', ng-disabled='disabled')
            | Button dropdown 
            span.caret
          |       
          ul.dropdown-menu(role='menu')
            li
              a(href='#/dolls') Action
            |         
            li
              a(href='#/dolls') Another action
            |         
            li
              a(href='#/dolls') Something else here
            |         
            li.divider
            |         
            li
              label.label-doll Name
              input(ng-model="dollFilter.name")
      .row
        .input-group
          .input-group-btn.dropdown(dropdown='' auto-close="outsideClick")
            //- button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown' aria-expanded='false')
            button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle='' aria-expanded='false')
              | Filter Dolls... 
              span.caret
            ul.dropdown-menu(role='menu')
              li.list-group-item
                label.label-doll Name
                input(ng-model="dollFilter.name")
              li.list-group-item
                label.label-doll Owner
                input(ng-model="dollFilter.owner.name.full")
              li.list-group-item
                label.label-doll Maker
                select(ng-model="dollFilter.maker")
                  option(value="")
                  option(ng-repeat="maker in makers" value ="{{maker}}" ) {{maker}}
            //- input.form-control(type='text', aria-label='...')
  .row.dolls.angular
    //- DOLLS ALREADY CHUNKED
    .row(ng-repeat="doll_threes in data.dolls")
      .col-sm-3(ng-repeat="doll in doll_threes | filter:dollFilter")
        doll-mixin(doll="doll")
//- .col-sm-4.doll-filter-col
  //- TODO: need a front end test for login..
  if user
    a.btn.btn-primary(href="/dolls/new") Add a doll to the database...
  h2 Filter/Search Dolls
  ul.list-group(style='margin-top: 70px;')
    li.list-group-item
      label.label-doll Name
      input(ng-model="dollFilter.name")
    li.list-group-item
      label.label-doll Owner
      input(ng-model="dollFilter.owner.name.full")
    li.list-group-item
      label.label-doll Maker
      select(ng-model="dollFilter.maker")
        option(value="")
        option(ng-repeat="maker in makers" value ="{{maker}}" ) {{maker}}
