.col-sm-8.col-md-9.jumbotron
  h1 Community Links
  .links.angular
    //- PROFILES NOT GROUPED
    .row(ng-repeat="link in data.links | filter:linkFilter")
      link-mixin(link="link")

.col-sm-4.col-md-3.link-filter-col
  h2 Filter/Search Links
  ul.list-group(style='margin-top: 70px;')
    li.list-group-item
      label.label-link Name
      input(ng-model="profileFilter.userName")
    li.list-group-item
      label.label-link User
      input(ng-model="profileFilter.user.name")
    li.list-group-item
      label.label-link About
      input(ng-model="profileFilter.about.brief")
    li.list-group-item
      label.label-link About Two
      select(ng-model="profileFilter.about.brief")
        option(ng-repeat="model in ['Ipplehouse', 'Other Guys']" value ="{{model}}" ) {{model}}
        //- option(ng-repeat="model in ['Ipplehouse', 'Other Guys']" value = {{model}} ) {{model}}
