h1 Here is some angular bro!!!



h3 List of Awesome Things
ul.list-group
  li.list-group-item(ng-repeat="thing in awesomeThings").
    {{ thing }}
//- div(ng-controller="NoteTagsCtrl")
.row
  a(href="#/second") Second
.row
  a(ng-click="log.log('Link got clicked!');") Lets log something...
