.col-sm-12.profiles.purple-jumbotron
  h1 Member Profiles
  .angular
    .row(ng-repeat="profile in data.profiles | filter:profileFilter").jumbotron
      //- profile-mixin(profile="profile")
      profile-mixin(data="{profile: profile}")
        
//- .col-sm-4.col-md-3.profile-filter-col
  h2 Filter/Search Profiles
  ul.list-group(style='margin-top: 70px;')
    li.list-group-item
      label.label-profile Screen Name
      input(ng-model="profileFilter.profile.userName")
    li.list-group-item
      label.label-profile Real Name
      input(ng-model="profileFilter.name")
    li.list-group-item
      label.label-profile About
      input(ng-model="profileFilter.profile.about.brief")
