.col-sm-8.col-md-9.jumbotron
  h1 Profiles
  h4.text-weight-normal Showing 
  .profiles.angular
    //- PROFILES ALREADY CHUNKED
    .row(ng-repeat="profile_threes in data.profiles | filter:profileFilter")
      .col-sm-4.col-md-4(ng-repeat="profile in profile_threes")
        profile-mixin(profile="profile")
.col-sm-4.col-md-3.profile-filter-col
  h2 Filter/Search Profiles
  ul.list-group(style='margin-top: 70px;')
    li.list-group-item
      label.label-profile Screen Name
      input(ng-model="profileFilter.profile.userName")
    li.list-group-item
      label.label-profile Real Name
      input(ng-model="profileFilter.name")
    li.list-group-item
      label.label-profile About
      input(ng-model="profileFilter.profile.about.brief")
