// RULES

// COLOURS
$blueish: rgba(154, 186, 213, 0.76)
$body-bg: rgba(171, 110, 123, 0.62)

$body-gradient-top: rgba(202, 165, 173, 0.4)
$body-gradient-bottom: rgba(202, 165, 173, 1)

$heading-color-jumbotron: rgba(202, 165, 173, 1)
$heading-color: #F2F2F2
$nav-button-bg: rgb(236, 226, 227)

$event-bg: rgb(240, 216, 227)
// $pale-panel-bg: rgba(236, 172, 214, 0.58)
$pale-panel-bg: #f8f8f8
$event-text-color: rgb(107, 104, 92)
$link-primary-color: #9E5873
$button-primary-color: #9819BB
$button-primary-border: #5A2D66

$filter-label-bg: rgba(195, 174, 245, 0.54)
$my-dolls: rgba(239, 195, 217, 0.57)
// $background-pattern: "http://res.cloudinary.com/hal9zillion/image/upload/v1431448088/damask_pattern_fcjc2o.jpg"
// $background-pattern: "/images/site/damask_pattern_2_copy.jpg"
// $background-pattern: "/images/site/damask_pattern_single_tile.jpg"
$background-pattern: "http://res.cloudinary.com/doll-social-club/image/upload/v1432427402/damask_pattern_single_tile_etd1nl.jpg"

// MEDIA QUERIES
$iphone-max-width: "(max-device-width: 500px)"
$bootstrap-min-width: "(min-width: 768px)"

// MIXINS
@mixin login-buttons
  background-color: transparent
  color: white
  font:
    size: 2.5rem
    family: Georgia

// To force column heights to be the same
// see http://stackoverflow.com/a/18227564/935470
.same-height
  bottom: 0
  top: 0
  position: absolute

html, body
  min-height: 100%

body
  // background-color: $body-bg
  background: linear-gradient(to bottom, $body-gradient-top, $body-gradient-bottom), url($background-pattern)
  font-family: Georgia
  .jumbotron
    border-radius: 2rem

// navigation.navbar.navbar-defaut
body
  a.navbar-brand
    font:
      family: "EmilysCandy"
      size: 3rem
      weight: bold
    img
      width: 200px
  .navbar-brand
    padding: 0
    height: 100%
  .navbar-button-box
    .row
      float: right
  .navbar-right
    // Overide Bootstrap
    &:last-child
      margin-right: 0 !important
    .dropdown-menu
      right: inherit
      button
        margin:
          top: 0
          bottom: 0
  .navbar.navbar-default
    .navbar-nav
      li a
        color: $link-primary-color
        // @media not screen and #{$iphone-max-width} and (orientation: portrait)
        // Override bootstrap media query
        @media #{$bootstrap-min-width}
          padding: 15px 0.5rem
    button
      margin: 0 0.2rem
      background-color: $nav-button-bg
      width: 9.5rem
      border-radius: 1rem
      font:
        family: AngelicSerif
        size: 1.8rem
    // @media not screen and #{$iphone-max-width} and (orientation: portrait)
    .login
      button
        @include login-buttons
    background-color: transparent
    border:
      style: none
      color: transparent
    ul.dropdown-menu
      border-style: none
      box-shadow: none
      // NOTE: Only want the following block to appear
      // for a phone in portrait orientation:
      @media screen and #{$iphone-max-width} and (orientation: portrait)
        li
          margin-left: 2rem
          &::before
            // content: "-"
            content: "\025B6"
          button
            background-color: rgba(207, 202, 202, 0.72)
    // .navbar-default li.dropdown a.dropdown-toggle:hover
    li.dropdown a.dropdown-toggle:hover
      background-color: transparent
    li.dropdown a, ul.dropdown-menu
      background-color: transparent
      // padding: 0
      button
        margin:
          top: 0
          bottom: 0
    // Override Bootstrap background
    // NOTE: This seems to generate a lot of styles
    // - might be more efficient to use !important
    @each $list-state in active, open
      .navbar-nav > .#{$list-state} > a
        &, &:hover, &:focus
          background-color: transparent


//   background-color: $pale-panel-bg

// TODO: This is terrible - fix
#body > div:nth-child(2)
  background-color: $event-bg
  color: $event-text-color

a
  color: $link-primary-color

// .btn.btn-primary
.btn-primary
  background-color: $button-primary-color
  border-color: $button-primary-border

@mixin doll-header
  font:
    // family: "HomemadeApple"
    family: "AngelicSerif"
  color: $heading-color

h1
  @include doll-header
  .jumbotron &
    @include doll-header
    color: $heading-color-jumbotron


// Front Page/Index
img.cover-girl
  // &:hover
    transform: rotate(0.5turn) translate(4rem) scale(0.5)
    transition-duration: 2s

// BLOG
// .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
.list-group-item.active
  background:
    color: $blueish

// EVENTS
.event
  img.img-events
    padding: 3rem

// EVENT
.event_details
  margin:
    top: 2rem
    left: 2rem
  .key
    font:
      family: "Metamorphous"
      size: 2rem
      variant: small-caps
  .val
    size: 2rem

@mixin event-details
  font:
    family: "Metamorphous"
    size: 2rem
    variant: small-caps

@mixin doll-mixin-style
  background-size: cover
  height: 18rem
  padding-top: 8rem
  // padding: 8rem 0.5rem 0.5rem 0
  a
    color: white
  .doll-header
    padding: 0 0.5rem
    // background-color: $pale-panel-bg
  &.my-doll
    .doll-header
      background-color: $my-dolls

@mixin doll-grid-style
  .dolls
    .row
      padding: 0.5rem 0
    [class^='col-sm']
      padding: 0 0.5rem
    .doll
      @include doll-mixin-style

dt
  float: left
  &:after
    content: ": "

// DOLLS
// COLLECTION
@include doll-grid-style

.show-profile
  @include doll-grid-style
  // .doll
    @include doll-mixin-style

// FILTER
@each $resource in doll, profile, link
  .#{$resource}-filter-col
    li
      label.label-#{$resource}
        // background-color: $filter-label-bg
        margin-right: 1rem

// NEW DOLL FORM
form.newDoll
  label
    font:
      size: 2rem
      family: "Metamorphous"

// INDIVIDUAL PROFILES & DOLLs
// - this really could be better optimized with a mixin
@mixin img-constrain
  img
    max-width: 100%

@each $resource in doll, profile
  .show-#{$resource}
    margin: 1rem
    img.media-object
      height: 20rem
    .#{$resource}
      @include img-constrain
      p.description, p.biography
        margin: 4rem  4rem

// CALENDAR
.show-calendar
  .calendar-row
    padding-top: 2rem
